<label [attr.for]="fieldId" class="floating-label input validator w-full rounded-sm">
  @if (label(); as label) {
    <span>
      <ng-content select="[icon]" />
      {{ label }} {{ isRequired() ? '*' : '' }}
    </span>
  }

  <input
    [id]="fieldId"
    [formControl]="control()"
    [placeholder]="placeholder()"
    [required]="isRequired()"
    [mask]="mask()"
    [type]="type()"
    [min]="min()"
    [max]="max()"
  />

  <ng-content select="[suffix]" />
</label>

<kl-field-errors [field]="control()">
  <ng-container errors>
    <ng-content select="[errors]" />
  </ng-container>
</kl-field-errors>
