<label [attr.for]="fieldId" class="floating-label input validator w-full">
  @if (label(); as label) {
    <span class="label">
      <ng-content select="[icon]" />
      {{ label }} {{ isRequired() ? '*' : '' }}
    </span>
  }

  <input
    [id]="fieldId"
    [formControl]="control()"
    [placeholder]="placeholder()"
    [required]="isRequired()"
    [type]="type()"
  />

  <button class="cursor-pointer" type="button" (click)="togglePasswordVisibility()">
    @if (type() === 'password') {
      <i class="fa-regular fa-eye-slash"></i>
    } @else {
      <i class="fa-regular fa-eye"></i>
    }
  </button>
</label>

<kl-field-errors [field]="control()">
  <ng-container errors>
    @if (control().errors?.['hasSpecialCharacters']) {
      {{translations.invalidPasswordHasSpecialCharacters}}<br/>
    }

    @if (control().errors?.['hasUppercase']) {
      {{translations.invalidPasswordHasUppercase}}<br/>
    }

    @if (control().errors?.['hasLowercase']) {
      {{translations.invalidPasswordHasLowercase}}<br/>
    }

    @if (control().errors?.['hasNumber']) {
      {{translations.invalidPasswordHasNumber}}<br/>
    }

    @if (control().errors?.['minlength']) {
      {{translations.invalidMinLength(control().errors?.['minlength'].requiredLength)}}<br/>
    }

    @if (control().errors?.['confirmPassword']) {
      {{translations.invalidConfirmPassword}}<br/>
    }

    <ng-content select="[errors]" />
  </ng-container>
</kl-field-errors>
