<kl-dialog-content>
  @if (data.title) {
    <h2>{{ data.title }}</h2>
  }

  <div class="flex flex-col items-center justify-center gap-4" content>
    @switch (data.type) {
      @case ('info') {
        <i class="fa-solid fa-circle-info text-6xl text-indigo-900"></i>
      }
      @case ('success') {
        <i class="fa-solid fa-circle-check text-6xl text-green-900"></i>
      }
      @case ('warning') {
        <i class="fa-solid fa-circle-exclamation text-6xl text-yellow-500"></i>

      }
      @case ('error') {
        <i class="fa-solid fa-circle-xmark text-6xl text-red-900"></i>
      }
    }

    <p [innerHTML]="data.message"></p>
  </div>

  <div class="flex items-center justify-center w-full" actions>
    <button klButton soft color="primary" (click)="close()">
      {{ data.okButtonText ?? 'OK' }}
    </button>
  </div>
</kl-dialog-content>
