<div class="relative rounded-xl bg-neutral-900 border border-base-300 my-5">
  <i class="absolute top-[1.05rem] left-3 bg-neutral-400 text-neutral-950"
    [class]="icon()">
  </i>
  <kl-tab>
    <kl-tab-item class="first:ml-7" checked>
      <ng-container label>{{ name() }}</ng-container>
      <ng-container content>
        <markdown
          [src]="src()"
          [disableSanitizer]="true"
          [lineNumbers]="lineNumbers()"
          lineHighlight
          [line]="lineHighlight()"
          (load)="clipboard($event)"
        />
      </ng-container>
    </kl-tab-item>
  </kl-tab>

  <button class="absolute hover:cursor-pointer right-3 top-3 px-2 text-md text-neutral-500 hover:text-neutral-300 hover:bg-neutral-800 rounded-sm"
    type="button"
    [tooltip]="copied() ? 'Copied' : 'Copy to clipboard'"
    (click)="copyCode()">

    @if (copied()) {
      <i class="fa-solid fa-check"></i>
    } @else {
      <i class="fa-regular fa-clipboard"></i>
    }
  </button>
</div>
