@if (options(); as items) {
  <label [attr.for]="fieldId" class="relative floating-label w-full has-[select:disabled]:cursor-not-allowed">

    @if (label(); as label) {
      @if (isDisabled()) {
        <span class="text-neutral-200 dark:text-neutral-600">
          {{ label }} {{ isRequired() ? '*' : '' }}
        </span>
      } @else {
        <span>{{ label }} {{ isRequired() ? '*' : '' }}</span>
      }
    }

    @if (!isDisabled() && control().value) {
      <button class="absolute right-9 top-2.5 z-10 text-neutral-400 hover:cursor-pointer text-sm focus:!shadow-none" type="button" (click)="clear($event)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    }

    <select class="disabled:!border-neutral-200 disabled:dark:!border-neutral-800"
      [id]="fieldId"
      [value]="control().value"
      (change)="onSelectChange($event)"
      [disabled]="isDisabled()">

      <button>
        <selectedcontent></selectedcontent>
        <span class="picker">
          @if (items.isLoading()) {
            <kl-loader size="small" />
          } @else {
            <i class="fa-solid fa-caret-down"></i>
          }
        </span>
      </button>

      @for (item of items.value(); track $index) {
        <option
          [value]="`${item.value}`"
          [selected]="item.value === control().value">
          <span>{{ item.label }}</span>
        </option>
      }
    </select>
  </label>

  @if (hint()) {
    <span class="hint-content">
      <i class="fa-regular fa-circle-question"></i> {{hint()}}
    </span>
  }

  <kl-field-errors [field]="control()">
    <ng-container errors>
      <ng-content select="[errors]" />
    </ng-container>
  </kl-field-errors>
}
