@if (options(); as items) {
  <div class="kl-select-container relative w-full has-[select:disabled]:cursor-not-allowed"
    [class.has-value]="!!control().value">

    @if (label(); as label) {
      <label class="kl-select-label flex items-center gap-2 whitespace-nowrap text-neutral-900 dark:text-neutral-300"
        [attr.for]="fieldId">
        @if (isDisabled()) {
          <span class="text-neutral-200 dark:text-neutral-600">
            {{ label }} {{ isRequired() ? '*' : '' }}
          </span>
        } @else {
          <span>{{ label }} {{ isRequired() ? '*' : '' }}</span>
        }
      </label>
    }

    @if (!isDisabled() && control().value) {
      <button class="kl-select-clear-button absolute right-9 top-2.5 z-10 text-neutral-400 hover:cursor-pointer text-sm focus:shadow-none!" type="button" (click)="clear($event)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    }

    <select class="disabled:border-neutral-200! disabled:dark:border-neutral-800!"
      #selectField
      [id]="fieldId"
      [formControl]="control()"
      (change)="setValue($event)"
      [multiple]="multiple()">

      <button>
        <selectedcontent></selectedcontent>

        <span class="picker">
          @if (isLoading()) {
            <kl-loader size="small" />
          } @else {
            <i class="fa-solid fa-caret-down"></i>
          }
        </span>
      </button>

      <div class="kl-select-options-container relative h-full flex flex-col overflow-hidden"
        [attr.aria-labelledby]="fieldId">
        @if (!withoutFilter()) {
          <div class="kl-select-filter-container border-b border-neutral-200 dark:border-neutral-700">
            <label class="flex items-center text-sm">
              <i class="fa-solid fa-magnifying-glass opacity-60 absolute top-3 left-4"></i>
              <input class="w-full p-2 pr-3 pl-10 outline-none placeholder:opacity-60"
                #searchInput
                type="search"
                [(ngModel)]="filter"
                [placeholder]="translations.selectTypeSearch"
              />
            </label>
          </div>
        }

        <div class="kl-select-options-content p-1 overflow-auto">
          @for (item of optionList(); track $index) {
            <option
              [value]="`${item.value}`"
              [selected]="item.value === control().value">
              <span>{{ item.label }}</span>
            </option>
          }
        </div>
      </div>
    </select>
  </div>

  @if (hint()) {
    <span class="hint-content">
      <i class="fa-regular fa-circle-question"></i> {{hint()}}
    </span>
  }

  <kl-field-errors [field]="control()">
    <ng-container errors>
      <ng-content select="[errors]" />
    </ng-container>
  </kl-field-errors>
}
