<div role="alert" #alertContent class="relative alert alert-outline bg-base-100! w-full lg:max-w-1/4 rounded-sm text-sm py-3 border-neutral-600">
  <i #alertIcon class="h-4 w-4 shrink-0 stroke-current text-base fa-solid"></i>
  <span [innerHTML]="message()"></span>
  <div>
    <button class="btn btn-xs btn-outline" (click)="dismiss()">OK</button>
  </div>
  @if (timePast() > 0) {
    <progress class="absolute left-0 bottom-0 progress w-full opacity-20"
      [value]="timePast()"
      [max]="timeout()">
    </progress>
  }
</div>
