<label [attr.for]="fieldId" class="floating-label input validator w-full">
  @if (label(); as label) {
    <span>
      <ng-content select="[icon]" />
      {{ label }} {{ isRequired() ? '*' : '' }}
    </span>
  }

  <input
    [id]="fieldId"
    [formControl]="control()"
    [placeholder]="label() + (isRequired() ? ' *' : '')"
    [required]="isRequired()"
    [mask]="mask()"
    [type]="type()"
  />

  <ng-content select="[suffix]" />
</label>

<kl-field-errors [field]="control()">
  <ng-container errors>
    <ng-content select="[errors]" />
  </ng-container>
</kl-field-errors>
