<button class="relative select hover:cursor-default bg-base-100 w-full min-h-10 h-full flex items-center justify-between flex-nowrap"
  [class.has-value]="autocompleteValue.hasValue()"
  type="button"
  tabindex="0"
  [id]="fieldId"
  [disabled]="isDisabled() || isLoading()"
  (focus)="control().markAsTouched()"
  (click)="open()">

  <span class="autocomplete-label flex items-center gap-2 whitespace-nowrap text-neutral-900 dark:text-neutral-300">
    <span>{{label()}} {{ isRequired() ? '*' : '' }}</span>
  </span>

  <div class="flex flex-wrap gap-1 pt-3 pb-2 items-center w-full h-full selected-options"
    [hookChange]="autocompleteValue.currentValue()"
    [class.hidden]="!autocompleteValue.hasValue()">
    @if (multiple()) {
      @for (item of autocompleteValue.selectedOptions(); track $index) {
        <span class="flex items-center badge badge-primary badge-sm rounded-sm">
          <span>{{item.label}}</span>
          <i class="fa-solid fa-xmark text-neutral-400 hover:cursor-pointer"
            (click)="autocompleteValue.remove($event, item.value)">
          </i>
        </span>
      }
    } @else {
      {{autocompleteValue.selectedOption()?.label}}
    }
  </div>

  @if (isLoading()) {
    <kl-loader size="small" />
  } @else if (autocompleteValue.hasValue()) {
    <i class="fa-solid fa-xmark text-neutral-500 hover:cursor-pointer pt-1 pr-2"
      (click)="autocompleteValue.clear($event)">
    </i>
  }
</button>

<kl-field-errors [field]="control()">
  <ng-container errors>
    <ng-content select="[errors]" />
  </ng-container>
</kl-field-errors>
